<div class="row my-5 ml-5" *ngIf="cargados">

  <div class="card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12">
    <img class="card-img-top" src="{{pokemon.sprites.front_default}}">
    <hr>
    <div class="card-body">
      <p class="card-text"><span>{{pokemon.name.charAt(0).toUpperCase()}}{{pokemon.name.slice(1)}}</span></p>
    </div>
  </div>
  <div class="card mx-3 col-lg-5 col-md-5 col-sm-5 col-12">
    <div class="card-header alert alert-warning">
      Información
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {{pokemon.name.charAt(0).toUpperCase()}}{{pokemon.name.slice(1)}}</li>
      <li class="list-group-item">Peso: {{pokemon.weight/10}}kg</li>
      <li class="list-group-item">Altura: {{pokemon.height/10}}m</li>
      <li class="list-group-item">Tipo: <span *ngFor="let tipo of pokemonTipos">{{tipo.type.name.charAt(0).toUpperCase()}}{{tipo.type.name.slice(1)}} </span></li>
    </ul>
  </div>
  <div class="card col-lg-3 col-md-3 col-sm-11 col-11" style="display: inline-block; float: left;">
    <div class="card-header">
      Estadísticas al nivel 1
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let pokemonstat of pokemonStats">{{pokemonstat.stat.name.charAt(0).toUpperCase()}}{{pokemonstat.stat.name.slice(1)}}: {{pokemonstat.base_stat}}</li>
    </ul>
  </div>

</div>
